BODY{
    text-align: center;
}
.listDiv{
    margin: auto;
    text-align: center;
    background-color: inherit;
}

.navBtn {
    margin: 1vh;
	background-color:rebeccapurple;
	border-radius:4px;
	border:1px solid rgb(30, 12, 48);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px rgb(30, 12, 48);
    user-select: none;
}
.navBtn:hover {
	background-color:rgb(75, 38, 112);
}
.navBtn:active {
	position:relative;
	top:1px;
}
.desc {
    display:inline-block;
    font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
}
.span {
    max-width: fit-content;
    min-width: fit-content;
    user-select: none;
    background-color:rgb(165, 112, 219);
    display: block;
    border:5px solid rgb(30, 12, 48);
    border-radius:4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    text-align: center;
    height: auto;
}

.info {
    padding: 2vh;
    text-align: left;
    font-size: 20px;
    display: inherit;
    max-width: fit-content;
    opacity: 1;
    animation: fadeIn 0.5s ease-in;
}

.hid{
    display: none;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
        max-height: 0px;
    }
    50% {
        max-height: 50vh;
    }
    100% {
        display: inherit;
        opacity: 1;
    }
}


      